@import "tailwindcss";
@tailwind utility;

* {
  margin: 0;
  box-sizing: border-box;
  color: lightgray;
}
button {
  cursor: pointer;
}
.main-container {
  background-color: rgba(55, 53, 53, 0.855);
}
.profile {
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  border: green 2px solid;
}
.profile img {
  width: 100%;
  border-radius: 50%;
}
button {
  color: black;
}
.hobbies-section {
  display: flex;
  justify-content: space-around;
}
.hobbies-section > div {
  display: flex;
  gap: 0.5rem;
  border: lightgray 1px solid;
  padding: 0.2rem;
  border-radius: 10px;
}
.hobbies-section > div:hover {
  box-shadow: 0 0 3px yellow, 0 0 6px yellow, 0 0 12px yellow, 0 0 15px yellow;
}
.persons {
  min-height: 200px !important;
}
.persons ul li {
  list-style: circle;
}
.tech span {
  width: 120px;
  height: 120px;
  border: 1px solid gray;
  margin: 1rem;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.821);
}
.tech span img {
  width: 100px;
}
.tech span i {
  font-size: 100px;
}
