@import "tailwindcss";
@tailwind utility;

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgba(0, 0, 0, 0.914);
}
button {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.713);
  color: #ec4899;
}
li {
  cursor: pointer;
}
.main-container {
  width: 90%;
  margin: auto;
}
.header {
  color: white;
}
.profile-container {
  box-shadow: 5px 3px 10px #ec4899;
}
.profile {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 3px #ec4899, 0 0 6px #ec4899;
}
.profile:hover {
  box-shadow: 0 0 3px #ec4899, 0 0 6px #ec4899, 0 0 10px #ec4899,
    0 0 15px #ec4899;
}
.profile img {
  width: 100%;
  border-radius: 50%;
  min-width: 150px;
}
button {
  color: black;
}

.hobbies-section {
  display: flex;
  justify-content: space-around;
}
.hobbies-section > div {
  display: flex;
  gap: 0.5rem;

  padding: 0.2rem;
  border-radius: 10px;
  transition: all ease-in-out 0.6s;
  cursor: pointer;
}
.hobbies-section > div:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px white;
}
.hobbies-section > div:hover i {
  color: #ec4899;
}
.recruiters i,
.engineer i {
  transform: scale(1.3);
  transition: ease 0.5s;
}
.recruiters i:hover,
.engineer i:hover {
  transform: scale(1.7);
  color: #ec4899;
}

.persons {
  min-height: 200px !important;
}
.persons ul li {
  list-style: circle;
}
.tech span {
  margin: 1rem;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.821);
  transition: all ease-in-out 0.4s;
}
.tech span:hover {
  transform: translateY(-15px) scale(1.2);
  box-shadow: 3px 3px 10px gray;
}

.photography-section {
  display: flex;
  overflow-x: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  padding: 10px;
}

.photo {
  width: 190px; /* Fixed or percentage width */
  height: 300px; /* Ensure a defined height */
  flex-shrink: 0; /* Prevent item from shrinking in flex */
  border-radius: 8px;

  align-content: center;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out;
  /* cover or contain depending on preference */
}
.photo img :hover img {
  transform: scale(1.2);
}

.project-container {
  width: 45%;
}
