@import "tailwindcss";
@tailwind utility;

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgba(0, 0, 0, 0.914);
}
button {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.713);
}
li {
  cursor: pointer;
}
.main-container {
}
.header {
  color: white;
}
.profile-container {
  box-shadow: 5px 3px 10px #ec4899;
}
.profile {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 3px #ec4899, 0 0 6px #ec4899;
}
.profile:hover {
  box-shadow: 0 0 3px #ec4899, 0 0 6px #ec4899, 0 0 10px #ec4899,
    0 0 15px #ec4899;
}
.profile img {
  width: 100%;
  border-radius: 50%;
  min-width: 150px;
}
button {
  color: black;
}

.hobbies-section {
  display: flex;
  justify-content: space-around;
}
.hobbies-section > div {
  display: flex;
  gap: 0.5rem;
  border: lightgray 1px solid;
  padding: 0.2rem;
  border-radius: 10px;
}
.hobbies-section > div:hover {
  box-shadow: 0 0 3px yellow, 0 0 6px yellow, 0 0 12px yellow, 0 0 15px yellow;
}
.persons {
  min-height: 200px !important;
}
.persons ul li {
  list-style: circle;
}
.tech span {
  width: 120px;
  height: 120px;
  border: 1px solid gray;
  margin: 1rem;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.821);
}
.tech span img {
  width: 100px;
}
.tech span i {
  font-size: 100px;
}
.info div:first-child {
  flex-basis: 55%;
}
.info div:nth-child(2) {
  flex-basis: 40%;
}

.img {
  max-width: 600px;

  background-color: rgba(255, 255, 255, 0.355);
}
.img img {
  position: relative;
  top: 10px;
  left: 5px;

  border-radius: 10px;
  width: 100%;
  margin: auto;
}
.photography-section {
  display: flex;
  overflow-x: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  padding: 10px;
}

.photo {
  width: 190px; /* Fixed or percentage width */
  height: 300px; /* Ensure a defined height */
  flex-shrink: 0; /* Prevent item from shrinking in flex */
  border-radius: 8px;

  align-content: center;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out;
  /* cover or contain depending on preference */
}
.photo img :hover img {
  transform: scale(1.2);
}
